{% extends "base.html" %}

{% block content %}
<!--Form-->
<div class="row mb-3">
    <div class="col-md-12">
        <form action="/url" method="get" class="navbar-form navbar-left padding-top-xs">
            <div class="input-group">
                <input type="text" class="form-control" name="url" placeholder="url" value="{{url}}"/>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Analyze</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Errors-->
{% if errors %}
    {% for error in errors -%}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
              {{error.message}}
            </div>
        </div>
    </div>
    {%- endfor %}
{% endif %}

<!--Table-->
{% if url and prediction %}
<div class="row">
    <div class="col-md-6">
        <img src="{{url}}" class="img-thumbnail"/>
    </div>
    <div class="col-md-6">
        <table class="table">
          <tbody>
            <tr>
              <td>Classified</td>
              <td>
                {% for class in prediction.classified -%}
                    <span class="badge badge-info mr-1">{{class}}</span>
                {%- endfor %}
              </td>
            </tr>
            <tr>
              <td>Probability</td>
              <td>
                {% for probability in prediction.probability -%}
                    <span class="badge badge-dark mr-1">{{probability|round(2, 'floor')}}</span>
                {%- endfor %}
              </td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}
